# Binaries
/vfrog
/vfrog-dev
/vfrog-staging
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Coverage
*.out

# Dependencies
vendor/

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dist folder
dist/
.vfrog/config-dev.json
.vfrog/config-staging.json
.vfrog/config-production.json
nul
/images
Pepsi 335 can.jpg
/images-screw
